{% extends "base.html" %}

{% block content %}

<h2>Add Lead</h2>

<form method="POST">

<div class="mb-3">
<label>Student Name</label>
<input type="text" name="student_name" class="form-control" required>
</div>

<div class="mb-3">
<label>Phone</label>
<input type="text" name="phone" class="form-control">
</div>

<div class="mb-3">
<label>City</label>
<input type="text" name="city" class="form-control">
</div>

<div class="mb-2">
<label>School</label>
<select class="form-control" name="school_id">
<option value="">Select School</option>
{% for s in schools %}
<option value="{{ s.institution_id }}">
{{ s.name }}
</option>
{% endfor %}
</select>
</div>

<div class="mb-2">
<label>Coaching Centre</label>
<select class="form-control" name="coaching_id">
<option value="">Select Coaching</option>
{% for c in coachings %}
<option value="{{ c.institution_id }}">
{{ c.name }}
</option>
{% endfor %}
</select>
</div>

<div class="mb-3">
<label>Course Interest</label>
<input type="text" name="course_interest" class="form-control">
</div>

<div class="mb-3">
<label>Interest Level</label>

<select name="interest_level" class="form-control">

<option value="High">High</option>
<option value="Medium">Medium</option>
<option value="Low">Low</option>

</select>

</div>

<div class="mb-3">
<label>Notes</label>
<textarea name="notes" class="form-control"></textarea>
</div>

<button class="btn btn-primary">
Add Lead
</button>

</form>

{% endblock %}