<!DOCTYPE html>
<html>
<head>
    <title>Lead Intelligence System</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet">
</head>

<body>

<!-- Navbar -->

<nav class="navbar navbar-dark bg-dark">

<div class="container-fluid">

<a class="navbar-brand" href="/">
Lead Intelligence System
</a>

<div>

<a class="btn btn-light me-2" href="/leads">
View Leads
</a>

<a class="btn btn-success" href="/leads/add">
Add Lead
</a>

</div>

</div>

</nav>

<!-- Main Page Content -->

<div class="container mt-4">
{% block content %}{% endblock %}
</div>

</body>
</html>